name: Lint
permissions:
  contents: read
  pull-requests: write

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: psf/black@f209c53a0882c6a0e6a7cdcd452d44ba8b9ac364
        with:
          options: "--check --verbose"
          version: "~= 25.1"
          